@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");


* body {
  font-family: "Rajdhani";
    min-height: 400px;
    background-image: url("https://i.pinimg.com/originals/75/f5/a4/75f5a4bf815ae6c8f9d79da0e3655594.gif");
    background-color: rgb(245, 243, 230);
    background-size: 220vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 140px;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-title {
    color: rgb(150, 135, 5);
    margin: 0 0 5px;
    font-size: 60px;
  }
  
  .page-subtitle {
    color: rgb(150, 135, 5);
    margin-top: 5px;
    font-size: 30px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: #000;
    font-size: large;
  }
  
  button {
    margin-top: 25px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #fff;
  }
  
  h2 {
    color: rgb(150, 135, 5);
    font-size: 60px;
  }
  